.table-wrap table {
    width: 100%;
    border-collapse: collapse;
}
.table-wrap table th{
    text-align: left;
}
.table-wrap table th,
.table-wrap table td{
    border-collapse: collapse;
    border: 1px solid #ccc;
    padding: 5px;
}
.table-wrap table td:last-child{
    text-align: center;
    vertical-align: middle;
}
.table-wrap table td:last-child a{
    text-decoration: none;
}
.table-wrap table td:last-child a:focus{
    outline: none;
}
.table-wrap table tbody tr:nth-child(odd) td{
    background-color: rgba(0,0,0,0.08);
}

.table-wrap table th:not(:last-child),
.table-wrap table td:not(:last-child)
{
    border-right-color: transparent;
}

.table-wrap table tbody tr:not(:last-child) td{
    border-bottom-color: transparent;
}
